<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <title>항해일지</title>
</head>
<body>
  <h1>게시글 수정 페이지입니다</h1>
  <!-- <button onclick = "location.href = '/'" class = 'nav-link px-2 link-secondary'>수정완료</button> -->
  <h3>제목: <input id="title"></h3> 
  <h3>작성자: <input id="author"></h3>
  <h3>비밀번호: <input id="password"></h3>
  <h3>내용: </h3>
    <textarea id="content" rows = "7" cols = "55" name = "description"></textarea>
    
</body>
</html>