<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>항해일지</title>
</head>
<body>
  <h1>게시글 작성 페이지입니다</h1>
  <button onclick = "location.href = '/'" class = 'nav-link px-2 link-secondary'>글쓰기완료</button>
<!--  onclick이 post로 데이터 몽고db로 보내는 것도 추가되어야함-->
  <h3>제목: <input id="title"></h3> 
<h3>작성자: <input id="author"></h3>
<h3>비밀번호: <input id="password"></h3>
<h3>내용: </h3>
  <textarea id="content" rows = "7" cols = "55" name = "description"></textarea>
  
<!-- style="width:200px; height:120px;" -->
<!-- 날짜: placeholder="8자리 숫자로 입력해 주십시오. 예)19880901" -->
</body>
</html>